/******************** 首页 ********************/
:root {
    /* 首页标题样式 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(30deg, #6ea 10%, #5af 90%);

    /* 首页图标样式 */
    --vp-home-hero-image-filter: blur(60px);
    --vp-home-hero-image-background-image: linear-gradient(30deg, #6ea 50%, #5af 50%);
}

/******************** 字体 ********************/
@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('https://oss.dxmy.fun/blog/font/HarmonyOS_Sans_SC_Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('https://oss.dxmy.fun/blog/font/HarmonyOS_Sans_SC_Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('https://oss.dxmy.fun/blog/font/HarmonyOS_Sans_SC_Bold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://oss.dxmy.fun/blog/font/JetBrainsMono_Regular.woff2') format('woff2');
    font-weight: 400;
}

:root {
    --vp-font-family-base: 'HarmonyOS Sans SC';
    --vp-font-family-mono: 'JetBrains Mono', 'HarmonyOS Sans SC';
}

/******************** 代码块 ********************/
:root {
    --vp-code-block-bg: #212121; /* 代码块背景颜色 */
    --vp-code-block-color: #eeffff; /* 代码块文字颜色 */

    --vp-code-lang-color: #848484; /* 代码块语言颜色 */
    --vp-code-copy-copied-text-content: '已复制'; /* 代码复制成功文本 */

    --vp-code-line-number-color: #424242; /* 代码行号颜色 */
    --vp-code-block-divider-color: #303030; /* 代码行号分割颜色 */

    --vp-code-tab-divider: #303030; /* 代码组标签分割颜色 */
    --vp-code-tab-text-color: #848484; /* 代码组标签文本默认颜色 */
    --vp-code-tab-hover-text-color: #eeffff; /* 代码组标签文本悬停颜色 */
    --vp-code-tab-active-text-color: #eeffff; /* 代码组标签文本激活颜色 */
    --vp-code-tab-active-bar-color: #80cbc4; /* 代码组标签下标激活颜色 */
}

/******************** 图像 ********************/
.main img:hover {
    transform: scale(1.01);
    box-shadow: var(--vp-shadow-3);
}

.medium-zoom-image {
    border-radius: 8px;
    box-shadow: var(--vp-shadow-2);
    background-color: var(--vp-c-bg);
    transition: transform .3s, box-shadow .3s !important;
    cursor: pointer;
    z-index: 30;
}

.medium-zoom-overlay {
    backdrop-filter: blur(3px);
    cursor: pointer !important;
    z-index: 30;
}
