@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('fonts/HarmonyOS_Sans_SC_Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('fonts/HarmonyOS_Sans_SC_Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('fonts/HarmonyOS_Sans_SC_Bold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono_Regular.woff2') format('woff2');
    font-weight: 400;
}

:root {
    /* 字体 */
    --vp-font-family-base: "HarmonyOS Sans SC";
    --vp-font-family-mono: "JetBrains Mono", "HarmonyOS Sans SC";

    /* 首页标题样式 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(20deg, #bd34fe, #41d1ff);

    /* 首页图标样式 */
    --vp-home-hero-image-filter: blur(40px);
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
}

/* 图像 */
.main img:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
}

.medium-zoom-image {
    border-radius: 8px;
    transition: transform .3s cubic-bezier(.2, 0, .2, 1), box-shadow .3s cubic-bezier(.2, 0, .2, 1) !important;
    z-index: 30;
    cursor: pointer;
    background-color: var(--vp-c-bg);
}

.medium-zoom-overlay {
    z-index: 30;
    cursor: pointer !important;
    backdrop-filter: blur(1px);
}
